* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-image: linear-gradient(to top, rgba(15, 15, 15, 0.7), rgba(15, 15, 15, 0.7)), url(resources/bg-photo.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
}

.row {
    margin: 0 9%;
}

.logo {
    height: 9.5rem;
    width: auto;
    float: left;
    margin-top: 1.9rem;
}

.logo-link {
    display: inline-block;
    text-decoration: none;
}


.logo-link:link,
.logo-link:active,
.logo-link:visited
 {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

.logo-link div {
    padding-top: 5rem;
    width: 200%;
    display: block;
}

.my-name {
    font-weight: bold;
    font-size: 1.7rem;
}


.my-job {
    text-decoration: none;
    font-size: 1.4rem;
    color: greenyellow;
}


.main-nav {
    float: right;
    list-style: none;
    margin-top: 38px;
}

.main-nav li {
    display: inline-block;
    margin-left: 2rem;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
    transition: border-bottom .2s, color .2s;
    font-weight: 600;
    letter-spacing: 2px;
}

.main-nav li a:hover {
    color: yellowgreen;
    border-bottom: 3px solid yellowgreen;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.hero-text-box h1 {
    font-size: 6rem;
    margin-bottom: 1.6rem;
    color: yellowgreen;
}

.hero-text-box p {
    font-size: 1.9rem;
    font-weight: 100;
    line-height: 30px;
    margin-bottom: 3rem;
}

.hero-text-box p a:link,
.hero-text-box p a:visited,
.hero-text-box p a:active
{
    color: #fff;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px dotted yellowgreen;
    transition: color .2s;
}

.hero-text-box p a:hover {
    color: yellowgreen;
    border-bottom: 2px dotted yellowgreen;
}

.btn:link,
.btn:visited {
    display: inline-block;
    font-size: 1.6rem;
    padding: 18px 26px;
    margin-right: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    transition:  background-color .2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: yellowgreen;
    border-radius: 3px;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost-:visited {
    background: rgba(255, 255, 255, 0.267);
    border-radius: 3px;
    margin-left: 10px;
    color: #fff;
}

.btn-ghost:active {
    transform: scale(.98);
}

.btn-full:active {
    transform: scale(.98);
}

.btn-ghost:hover {
    background-color: rgba(153, 205, 50, 0.582);
}
